# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.*

# Flutter
.dart_tool/
.flutter-plugins-dependencies
.pub/
build/
coverage/
*.iml

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
